<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776269428168-37srlecprkl4il5c8vqg14gcabbpu994.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776269428168-37srlecprkl4il5c8vqg14gcabbpu994</string>
	<key>API_KEY</key>
	<string>AIzaSyCLXfvEnsncTaJ5Zn0jHmbmPp-QhI0Oz4M</string>
	<key>GCM_SENDER_ID</key>
	<string>776269428168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hq.TechnicalChallengeCC</string>
	<key>PROJECT_ID</key>
	<string>centennialcoal-70712</string>
	<key>STORAGE_BUCKET</key>
	<string>centennialcoal-70712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776269428168:ios:9f86c4cbfd66e08c763cfd</string>
</dict>
</plist>